Imagenes_avance_2/
Imagenes_avance_3/
Paciente 1 - 1/
Paciente 2 - 2/
akdaskldas.py
Avance_Tarea_2.py
Avance_Tarea_3.py
Avance_Tarea_4_FX_prop.py
Avance_Tarea_4_BASEpy.py
kkkkk.py
Paciente 1 - 1.zip
Patient2_altura_PCA.png
Patient2_altura_pies_cabeza.png
Ptos_prueba_predeterminados.txt
Tarea_4.zip
testing.py
Vert.txt